<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Meine Auftraege</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Meine Auftraege</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Status</th>
            <th>Datum</th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>001</td>
            <td>Order XY</td>
            <td>Erstellen einer Homepage</td>
            <td>in bearbeitung</td>
            <td>23.12.2021</td>
            <td><a th:href="@{/data/customer/orders/details}">
                <button>Details</button>
            </a></td>

        </tr>
        <tr>
            <td>002</td>
            <td>Order XX</td>
            <td>Drucker einrichten</td>
            <td>abgeschlossen</td>
            <td>12.02.2021</td>
            <td><a th:href="@{/data/customer/orders/details}">
                <button>Details</button>
            </a></td>

        </tr>
        </tbody>
    </table>
    <p><br><br><br> </p>



    </div>

</div>
</body>
</html>