<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Registrieren</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form action="" class="mt-5 border p-4 bg-light shadow">
                        <h4 class="mb-4 text-secondary">Erstelle einen Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>Vorname</label>
                                <input type="text" name="firstname" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Nachname</label>
                                <input type="text" name="lastname" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Email</label>
                                <input type="text" name="email" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Telefonnummer</label>
                                <input type="text" name="phoneNumber" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Adresse</label>
                                <input type="text" name="street" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Postleitzahl</label>
                                <input type="text" name="postalCode" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Ort</label>
                                <input type="text" name="city" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort</label>
                                <input type="password" name="password" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort bestätigen</label>
                                <input type="password" name="confirmPassword" class="form-control"/>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary float-end" th:text="Registrieren"/>
                            </div>
                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary">Haben sie einen Account? <a th:href="@{/login}">Jetzt anmelden</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
