<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Registration</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="signup-form">
            <form action="" class="mt-5 border p-4 bg-light shadow">
              <h4 class="mb-4 text-secondary">Erstelle einen Account</h4>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label>Vorname</label>
                  <input type="text" name="Fname" class="form-control" placeholder="">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Nachname</label>
                  <input type="text" name="Lname" class="form-control">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Email</label>
                  <input type="text" name="Email" class="form-control" placeholder="">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Telefonnummer</label>
                  <input type="text" name="Telefonnummer" class="form-control">
                </div>
                <div class="mb-3 col-md-12">
                  <label>Adresse</label>
                  <input type="text" name="Adresse" class="form-control" placeholder="">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Postleitzahl</label>
                  <input type="text" name="plz" class="form-control" placeholder="">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Ort</label>
                  <input type="text" name="ort" class="form-control">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Passwort</label>
                  <input type="password" name="passwort" class="form-control">
                </div>
                <div class="mb-3 col-md-6">
                  <label>Passwort betstaetigen</label>
                  <input type="password" name="confirmpasswort" class="form-control">
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary float-end" name="button">Registrieren</button>
                </div>
              </div>
            </form>
            <p class="text-center mt-3 text-secondary">Haben sie einen Account? <a href="#">Jetzt anmelden</a>.</p>
          </div>

        </div>

      </div>

    </div>







    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"</script>
  </body>
</html>
